@use "colors.scss";
@use "typography.scss";
@use "forms.scss";

.login {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50vw;

  &__item {
    display: flex;
    flex-direction: column;
    // color: colors.$color-white;
    background-color: lightgrey;
    justify-content: space-between;
    min-height: 600px;
    // width: 90%;

    form {
      background-color: antiquewhite;
      margin: auto;

      label:not(:last-child) {
        margin-bottom: 2rem;
      }
    }
  }

  &__text {
    text-align: center;
    font-size: 1.6rem;
    // margin-top: 6rem;
    padding: 0 6rem;
    background-color: rgb(61, 61, 61);
  }
}
