@use "colors.scss";
@use "typography.scss";

.slide {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50vw;
  padding: 0 6rem;
  background-color: colors.$color-primary-700;

  &__item {
    display: flex;
    flex-direction: column;
    // background-color: rgb(100, 100, 100);
    justify-content: space-between;
    padding-top: 5rem;
    min-height: 65rem;
    max-width: 50rem;
  }

  &__imgWrapper {
    display: flex;
    justify-content: center;
    // padding: 0 6rem;
    // background-color: rgb(111, 111, 111);
  }

  &__img {
    width: 100%;
    height: auto;
  }

  &__heading {
    padding: 0 2rem;
    color: colors.$color-white;
  }

  &__text {
    text-align: center;
    font-size: 1.6rem;
    // padding: 0 6rem;
    // background-color: rgb(61, 61, 61);
    p {
      color: colors.$color-grey-100;
    }
  }

  &__dot {
    height: 1.2rem;
    width: 1.2rem;
    background-color: colors.$color-primary-900;
    border-radius: 50%;
    display: inline-block;
    margin-top: 3rem;

    &:not(:last-child) {
      margin-right: 1.5rem;
    }
  }
}
