@use "colors.scss";
@use "typography.scss";

.sidebar {
  position: fixed;
  width: 24rem;
  min-height: 100vh;
  background-color: colors.$color-grey-light;

  &__top {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15rem;
    background-color: colors.$color-grey-100;
    margin-bottom: 7rem;
  }

  &__newAnalysis {
    margin-bottom: 7rem;
  }

  &__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__item {
    width: 18rem;
    margin-bottom: 1.4rem;

    &_new {
      margin-bottom: 5rem;
    }
  }

  &__link {
    display: inline-block;
    text-decoration: none;
    display: flex;
    border-radius: 0.8rem;
    font-size: 1.6rem;
    font-family: typography.$font_manrope;
    font-weight: 400;
    color: colors.$color-grey-700;
    padding: 1.2rem 2.5rem;

    &:hover {
      background-color: colors.$color-grey-200;
      transition: background-color 0.4s;
    }

    &_new {
      color: colors.$color-white;
      background-color: colors.$color-primary-900;

      &:hover {
        background-color: colors.$color-primary-700;
      }
    }

    &_active {
      display: inline-block;
      text-decoration: none;
      display: flex;
      font-weight: 400;
      border-radius: 0.8rem;
      font-size: 1.6rem;
      font-family: typography.$font_manrope;
      color: colors.$color-grey-700;
      padding: 1.2rem 2.5rem;
      background-color: colors.$color-grey-200;
    }
  }

  &__icon {
    display: flex;
    align-items: center;
    color: colors.$color-grey-500;
    font-size: 1.8rem;

    &_new {
      color: colors.$color-white;
    }
  }

  &__title {
    margin-left: 1.2rem;
  }
}

.colorred {
  color: red;
}

.colorgreen {
  color: greenyellow;
}
