@use "colors.scss";

.navbar {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  align-content: space-between;
  background-color: colors.$color-primary-dark;
  color: white;
}
