@use "colors.scss";

.navbar {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  align-content: space-between;
  background-color: transparent;
  color: white;

  position: absolute;
  top: 0;
  left: 0;

  a {
    color: white;
  }
}
