@use "colors.scss";
@use "typography.scss";
@use "buttons.scss";

.flexContainer {
  display: flex;
  height: 100vh;
}

.item {
  display: flex;
  flex-direction: column;
  width: 50vw;
  padding: 12rem 6rem 0 6rem;
  align-items: center;

  &__text {
    max-width: 50rem;

    a {
      margin-top: 5rem;
    }
  }

  &__img {
    padding: 4rem 0;
  }
}

.logo {
  max-width: 50rem;
  height: auto;
}
