@use "typography.scss";
@use "colors.scss";

.btn {
  &,
  &:link,
  &:visited {
    // text-transform: uppercase;
    display: inline-block;
    font-size: typography.$font-size-default;
    font-family: typography.$font-quicksand;
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 0.05rem;
    padding: 0 3.2rem;
    border: none;
    border-radius: 0.4rem;
    background-color: colors.$color-primary-900;
    color: colors.$color-white;
    height: 5rem;
    cursor: pointer;
  }

  &:hover {
    background-color: colors.$color-primary-dark;
  }

  &__big {
    width: 100%;
  }

  &__link {
    display: inline-block;
    color: colors.$color-white;
    font-size: typography.$font-size-default;
    font-family: typography.$font-quicksand;
    letter-spacing: 0.05rem;
    font-weight: 500;
    text-decoration: none;
    border-radius: 0.4rem;
    background-color: colors.$color-primary-900;
    padding: 1.3rem;
    text-align: center;
    max-width: 20rem;
    margin-top: 6rem;
  }
}
