@use "typography.scss";
@use "colors.scss";
@use "mixins.scss";

/***** INPUTFORM *****/

.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 65rem;
  @include mixins.marginForms;

  &__textsection {
    width: 30rem;
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
  }

  &__icon {
    text-decoration: none;
    display: inline-block;
    text-decoration: none;
    font-size: 1.4rem;
    line-height: 0.6rem;
    padding: 0.6rem;
    border-radius: 100%;
    @include mixins.iconColorGrey;
  }

  &__button {
    align-items: flex-end;
    align-self: flex-end;
    width: 100%;
  }

  &__section {
    width: 30rem;
  }

  &__input {
    height: 5rem;
    width: stretch;
    font-family: typography.$font-inter;
    background-color: colors.$color-grey-light;
    border: 1px solid colors.$color-grey-200;
    border-radius: 0.4rem;
    margin-bottom: 2.8rem;
    padding: 0 1rem;
  }

  &__textarea {
    height: 15rem;
    width: stretch;
    font-family: typography.$font-inter;
    background-color: colors.$color-grey-light;
    border: 1px solid colors.$color-grey-200;
    border-radius: 0.4rem;
    margin-bottom: 2.8rem;
    padding: 1rem;
  }

  &__label {
    font-family: typography.$font-manrope;
    font-size: 1.4rem;
    font-weight: 400;
    color: colors.$color-grey-700;
    display: block;
  }
}

/***** TABLE *****/

.table {
  // width: 80rem;
  border-collapse: collapse;
  border-radius: 0.4rem;
  overflow: hidden;
  font-family: typography.$font_manrope;
  @include mixins.marginForms;

  &__icon {
    text-decoration: none;
    display: flex;

    &_delete {
      @include mixins.iconColorRed;
    }

    &_edit,
    &_details {
      @include mixins.iconColorGrey;
    }

    &_analysis {
      @include mixins.iconColorBlue;

      &:hover {
        background-color: colors.$color-blue-medium;
      }
    }
  }

  &__button {
    text-decoration: none;
    border: none;
    padding: 0.8rem;
    border-radius: 100%;
    font-size: 1.6rem;
    cursor: pointer;
  }

  &__link {
    display: inline-block;
    text-decoration: none;
    padding: 0.8rem;
    border-radius: 100%;
    font-size: 1.6rem;

    &_details {
      @include mixins.iconColorGrey;
    }

    &_analysis {
      @include mixins.iconColorBlue;

      &:hover {
        background-color: colors.$color-blue-medium;
      }
    }
  }

  &__thead,
  &__tfoot {
    background-color: colors.$color-grey-100;
    height: 4.5rem;

    & tr > * {
      @include mixins.tablePadding;
      text-align: left;
      font-weight: 500;
      font-size: 1.2rem;
      color: colors.$color-grey-600;

      &:first-child {
        padding-left: 4rem;
      }

      &:last-child {
        padding-right: 4rem;
      }
    }
  }

  &__tbody {
    font-size: 1.2rem;
    color: colors.$color-grey-500;
  }

  &__tbody_tr {
    background-color: colors.$color-grey-light;
    height: 5.5rem;

    &:not(:last-child) {
      border-bottom: 1px solid colors.$color-grey-100;
    }

    & > * {
      @include mixins.tablePadding;
    }
  }

  &__tbody_td {
    &:first-child {
      font-weight: 400;
      color: colors.$color-grey-600;
      padding-left: 4rem;
    }

    &:last-child {
      padding-right: 4rem;
    }

    &:nth-child(3) {
      font-weight: 300;
      letter-spacing: 0.2px;
      color: colors.$color-grey-400;
    }

    &_actions {
      *:not(:last-child) {
        margin-right: 2rem;
      }
    }

    &_green {
      color: colors.$color-green-dark;

      span {
        background-color: colors.$color-green-light;
        @include mixins.tableSpan;
      }
    }

    &_yellow {
      color: colors.$color-yellow-dark;

      span {
        background-color: colors.$color-yellow-light;
        @include mixins.tableSpan;
      }
    }

    &_blue {
      color: rgb(37, 37, 91);

      span {
        background-color: rgb(227, 227, 242);
        @include mixins.tableSpan;
      }
    }
  }
}

/***** LOGIN FORM *****/

.loginform {
  &__input {
    font-family: typography.$font-inter;
    font-size: 1.4rem;
    padding: 1.5rem 2rem;
    border-radius: 4px;
    color: inherit;
    border: none;
    border-bottom: 3px solid transparent;
    width: 38rem;
    background-color: colors.$color-grey-200;
    display: block;
    transition: all 0.3s;

    &::placeholder {
      font-family: typography.$font-inter;
    }

    &:focus {
      outline: none;
      border-bottom: 3px solid colors.$color-primary-700;
    }

    &:focus:invalid {
      border-bottom: 3px solid colors.$color-warning;
    }

    &::-webkit-input-placeholder {
      color: colors.$color-grey-500;
    }
  }

  &__label {
    font-family: typography.$font-inter;
    font-size: 1rem;
    font-weight: 500;
    margin-left: 2rem;
    margin-top: 0.5rem;
    display: block;
    transition: all 0.3s;
  }

  &__input:placeholder-shown + &__label {
    font-family: typography.$font-inter;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem);
  }
}
