@use "typography.scss";
@use "colors.scss";

.form {
  &__input {
    font-family: typography.$font-inter;
    font-size: 1.4rem;
    padding: 1.5rem 2rem;
    border-radius: 4px;
    color: inherit;
    border: none;
    border-bottom: 3px solid transparent;
    width: 38rem;
    background-color: colors.$color-grey-200;
    display: block;
    transition: all 0.3s;

    &::placeholder {
      font-family: typography.$font-inter;
    }

    &:focus {
      outline: none;
      border-bottom: 3px solid colors.$color-primary-700;
    }

    &:focus:invalid {
      border-bottom: 3px solid colors.$color-warning;
    }

    &::-webkit-input-placeholder {
      color: colors.$color-grey-500;
    }
  }

  &__label {
    font-family: typography.$font-inter;
    font-size: 1rem;
    font-weight: 500;
    margin-left: 2rem;
    margin-top: 0.5rem;
    display: block;
    transition: all 0.3s;
  }

  &__input:placeholder-shown + &__label {
    font-family: typography.$font-inter;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem);
  }
}
