@mixin centerFlexbox {
  justify-content: center;
  align-items: center;
}

@mixin flexContainer {
  display: flex;
  height: 100vh;
}

@mixin paddingDefault {
  padding: 0 6rem;
}

@mixin greyIcon {
  width: 5rem;
  height: auto;
  margin-bottom: 1.5rem;
}
