@use "colors.scss";

@mixin centerFlexbox {
  justify-content: center;
  align-items: center;
}

@mixin flexContainer {
  display: flex;
  height: 100vh;
}

@mixin paddingDefault {
  padding: 0 6rem;
}

@mixin marginForms {
  margin: 3rem 0 8rem 0;
}

@mixin greyIcon {
  width: 5rem;
  height: auto;
  margin-bottom: 1.5rem;
}

@mixin adminContent {
  // display: block;
  // width: calc(100% - 22rem);
  padding: 7.5rem 6rem;
  // flex: 1;
  // height: 100%;
  min-height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  // bottom: 0;
  left: 24rem;
}

@mixin tablePadding {
  padding: 1rem 2.5rem;
}

@mixin tableSpan {
  padding: 0.5rem;
  border-radius: 0.5rem;
  text-transform: lowercase;
}

@mixin iconColorBlue {
  color: colors.$color-primary-900;
  background-color: colors.$color-blue-light;
}

@mixin iconColorRed {
  color: colors.$color-red-dark;
  background-color: colors.$color-red-light;
}

@mixin iconColorGrey {
  color: colors.$color-grey-700;
  background-color: colors.$color-grey-200;
}
