@use "colors.scss";

//IMPORTED FONTS
$font-quicksand: var(--font-quicksand);
$font-inter: var(--font-inter);
$font_heebo: var(--font-heebo);
$font_manrope: var(--font-manrope);

//FONT SIZES

$font-size-default: 1.6rem;

// body {
//   font-family: "Lato", sans-serif;
//   font-weight: 400;
//   /*font-size: 16px;*/
//   line-height: 1.7;
//   color: $color-grey-dark;
// }

//HEADINGS
.heading_h1 {
  font-size: 6.4rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  line-height: 7rem;
  // color: $color-white;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}

.heading_h2 {
  font-size: 4.4rem;
  font-weight: 700;
  line-height: 6rem;
  // color: $color-white;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin-bottom: 1.5rem;
}

.heading_h3 {
  font-size: 3.2rem;
  font-weight: 700;
  text-transform: uppercase;
}

.heading_h4 {
  font-size: 2.4rem;
  font-weight: 500;
  // text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin: 2rem 0;
}

.heading_h5 {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  color: colors.$color-grey-500;
  margin: 1rem 0;
}

.paragraph {
  font-size: 1.6rem;
  font-weight: 300;
  letter-spacing: 0.1rem;
}
