@use "colors.scss";
@use "typography.scss";

body {
  font-family: typography.$font-inter;
  color: rgb(78, 78, 78);
  // background-color: colors.$color-default-background-light;
  background-color: colors.$color-white;
  font-weight: 300;
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: typography.$font-heebo;
  color: colors.$color-grey-900;
}

p {
  font-family: typography.$font-heebo;
  color: colors.$color-grey-500;
  font-weight: 400;
  letter-spacing: 0rem;
}

::selection {
  background: colors.$color-primary-700;
  color: colors.$color-white;
}
